.wrapper,
.rowsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rowsWrapper {
  gap: 4px;
}

.editButton {
  width: fit-content;
  margin-left: auto;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid gray;
  font-family: monospace;
}

.propertyWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 28px;
}

.propertyLabel {
  min-width: 120px;
  text-align: right;
  text-transform: capitalize;
  font-weight: 700;
}

.propertyValue {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: gray;
}
