.wrapper,
.rowsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rowsWrapper {
  gap: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.editButton,
.saveButton {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid gray;
  font-family: monospace;
}

.saveButton {
  background-color: lightgreen;
}
