.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 28px;
}

.label {
  min-width: 120px;
  text-align: right;
  text-transform: capitalize;
  font-weight: 700;
}

.value {
  width: 170px;
}

.boolWrapper {
  display: flex;
  gap: 8px;
  width: 170px;
  padding: 0;
}

.radioWrapper {
  display: flex;
  align-items: center;
}
