* {
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

button,
input::file-selector-button {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid gray;
  font-family: monospace;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

button:hover,
button:focus-visible,
input::file-selector-button:hover,
input:focus-visible::file-selector-button {
  background-color: white;
}

input:not([type="radio"]),
textarea {
  padding: 4px;
  border: 1px solid gray;
  border-radius: 8px;
  width: 170px;
}
